/* @font-face {
  font-family: 'Socialico';
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"),
    url("fonts/Socialico/Socialico.woff2") format("woff2"),
    url("fonts/Socialico/Socialico.woff") format("woff"),
    url("fonts/Socialico/Socialico.ttf") format("truetype"),
    url("fonts/Socialico/Socialico.svg") format("svg");
}

@font-face {
  font-family: "socialico-plus";
  src: url("fonts/SocialicoPlus/socialico-plus.eot");
  src: url("fonts/SocialicoPlus/socialico-plus.eot?#iefix") format("embedded-opentype"),
    url("fonts/SocialicoPlus/socialico-plus.woff2") format("woff2"),
    url("fonts/SocialicoPlus/socialico-plus.woff") format("woff"),
    url("fonts/SocialicoPlus/socialico-plus.ttf") format("truetype"),
    url("fonts/SocialicoPlus/socialico-plus.svg") format("svg");
} */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 1400px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  padding: 0;
  margin: 0;
}

.row {
  max-width: 1620px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

/*typography*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

h1,
h2 {
  font-family: 'Akzidenz-Grotesk BQ Extra Conde', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2px;
  color: inherit;
}

p,
ul,
nav ul li a {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: .4px;
}

.foreword {
  letter-spacing: 6px;
}

/*BUTTON*/
.btn {
  position: relative;
  overflow: hidden;
  z-index: 999;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 17.5px 0;
  width: 220px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: linear-gradient(to bottom, #FF8000, #DCA000);
  color: #FFF;
  line-height: 1.2;
  -webkit-appearance: inherit;
  border-radius: 50px;

  transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -webkit-transition: background-color .5s ease-out;
}

.btn:hover {
  transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -webkit-transition: background-color .5s ease-out;
  color: #fff;
  background: #FF8000;
}

img {
  width: 100%;
}

/*FLEX*/
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*SOCIAL*/
.socials a {
  font-size: 30px;
  line-height: 1.2;
  font-family: 'Socialico';
  letter-spacing: 11px;
  padding: 0 20px;
  color: #fff
}

.socials a.ig_link {
  font-family: 'socialico-plus';
}

.socials a[href="https://facebook.com"] {
  color: #3B5A9A;
}

.socials a[href="https://plus.google.com"] {
  color: #D54936;
}

.socials a[href="https://linkedin.com"] {
  color: #117BB8;
}

.socials a[href="https://twitter.com"] {
  color: #25A8E0;
}

.socials a[href="https://instagram.com"] {
  color: #2F689B;
}


.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*-----------------------------------------------HEADER-----------------------------------------------*/
#header {
  background: url("../images/content/bg-header.png") no-repeat bottom;
  background-size: cover;
  min-height: 220px;
  position: fixed;
  width: 100%;
  right: 0;
  align-items: center;
  z-index: 1;
}

#header .flex {
  align-items: flex-start;
}

#header .h-logo img {
  max-width: 434px;
  padding: 17px 0 0 54px;
}

#header nav a#pull {
  display: none
}

#header .nav-holder {
  position: relative;
  right: 0;
  z-index: 999;
  background-color: #FF8000;
  border-radius: 15px 0 0 15px;
  width: 100%;
  max-width: 1112px;
}

#header nav {
  width: 100%;
  max-width: 942px;
  margin: auto;
}

#header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

nav ul li a {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 65px;
  display: block;
}

#header nav ul li.active-menu a,
#header nav ul li a:hover {
  font-weight: 600;
  color: #fff;
}

/*-----------------------------------------------BANNER-----------------------------------------------*/
#banner {
  background: url("../images/content/banner.png") no-repeat top;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 1207px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


#banner .banner-con {
  display: inline-block;
  width: 100%;
  text-align: left;
  color: #fff;
  /* top: 49%; */
  transform: translate(5%, 0);
  /* left: 0; */
}

#banner .ban-title {
  font-family: Akzidenz-Grotesk BQ Extra Conde;
  font-size: 70px;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 7.5);
  margin-bottom: 25px;
}

#banner .ban-title .ban-tcolor {
  color: #F88500;
}

#banner .to-sm {
  font-family: Staatliches;
  font-size: 35px;
  letter-spacing: 2px;
}

#banner .btn-holder .btn {
  margin: 35px 0 0;
}


/*-----------------------------------------------CONTENT-----------------------------------------------*/
/*about*/
#about {
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)), url('../images/content/bg-about.jpg') no-repeat top left;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  margin-top: -131px;
  min-height: 1314px;
}

#about .row {
  /* justify-content: end;
  padding-right: 84px; */

  position: absolute;
  right: 4%;
  top: 12%;
  transform: translateY(50%);
}

#about .about-con {
  display: block;
  width: 100%;
  max-width: 840px;
  padding: 50px;
  box-shadow: 0 0 23px rgba(0, 0, 0, 0.5);
  background: #fff;
}

#about .foreword {
  font-size: 18px;
  color: #4DA6FF;
}

#about .title {
  font-family: 'Akzidenz-Grotesk BQ Extra Conde';
  color: #FF7F00;
  font-size: 90px;
  margin: 36px 0 22px;
}

#about .btn-holder {
  margin: 38px 0 25px;
}



/*services*/
#services {
  background: url("../images/content/bg-services.png")no-repeat top left;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 2173px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -438px;
}

#services .foreword {
  font-size: 23px;
}

#services .row {
  color: #fff;
  margin-top: -161px;
}

#services .service-con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 84px;
  margin-top: 90px;
}

#services .box {
  width: 100%;
  height: 100%;
  max-width: 715px;
  min-height: 571px;
  border: 5px solid #fff;
  border-radius: 20px;
  justify-content: center;
  align-items: end;
  display: flex;
}

#services .con1 {
  background: url('../images/content/serv-img1.jpg')no-repeat center;
  background-size: cover;
}

#services .con2 {
  background: url('../images/content/serv-img2.jpg')no-repeat center;
  background-size: cover;
}

#services .con3 {
  background: url('../images/content/serv-img3.jpg')no-repeat center;
  background-size: cover;
}

#services .con4 {
  background: url('../images/content/serv-img4.jpg')no-repeat center;
  background-size: cover;
}


#services .box-con {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 19px 24px 0;
  margin: 0 24px 20px;
  border-radius: 10px;
}

#services .wrapper {
  width: 100%;
  max-width: 586px;
}

#services .box-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 18px;
}

#services .box-p {
  font-size: 18px;
  letter-spacing: .3px;
}

#services .learn-m {
  text-align: right;
  color: #E09A00;
  text-decoration: underline;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-top: 19px;
  margin-right: -8px;
}

/* reviews */

#reviews {
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)), url('../images/content/bg-reviews.jpg') no-repeat top left;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: 1441px;
  margin-top: -166px;
}

#reviews .row {
  max-width: 1721px;
  padding-top: 204px;
}

#reviews .foreword {
  font-size: 18px;
}

#reviews h1 {
  font-size: 70px;
  color: #FC8300;
  margin-top: 10px;
}

#reviews .reviews-con {
  display: flex;
  justify-content: space-between;
  margin-top: 129px;
}

.btn-prev-slider::before {
  content: '<';
}

.btn-next-slider::before {
  content: '>';
}

.btn-prev-slider::before,
.btn-next-slider::before {
  font-family: 'Poppins';
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.btn-prev-slider,
.btn-next-slider {
  display: block;
  font-size: 0;
  line-height: 0;
  position: absolute;
  /* top: 57%; */
  width: 76px;
  height: 76px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: #FC8300;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn-prev-slider:hover,
.btn-next-slider:hover {
  background: #fff;
  box-shadow: 0px 0px 100px -4px rgba(0,0,0,0.45);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn-prev-slider:hover::before,
.btn-next-slider:hover::before {
  color: #FC8300;
}

#reviews .btn-prev-slider,
#reviews .btn-next-slider {
  top: 59%;
  transform: translate(0, 100%);
  z-index: 1;
}

#reviews .btn-prev-slider {
  left: 42px;
  /* margin: 0; */
}

#reviews .btn-next-slider {
  right: 42px;
}

#reviews .img-holder {
  margin: -72px 0 6px;
}

#reviews .img-holder img {
  max-width: 180px;
  border-radius: 50%;
  border: 10px solid #EEEEEE;
}

#reviews .box {
  background: #EEEEEE;
  width: 100%;
  max-width: 502px;
  border-radius: 35px;
  min-height: 544px;
  box-shadow: 1px 56px 53px -43px rgba(0, 0, 0, 0.8), 4px 4px 8px rgba(0, 0, 0, .5);
}

#reviews .auth {
  color: #FF9326;
  font-family: 'Aero';
  font-size: 25px;
}

#reviews .stars {
  color: #ffd000;
  font-size: 44px;
}

#reviews .remarks {
  width: 100%;
  max-width: 359px;
  margin: auto;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: italic;
  margin-top: 12px;
  letter-spacing: .2px;
}



/*gallery*/

#gallery {
  background: url("../images/content/bg-gallery.png")no-repeat top left;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 1651px;
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: -327px;
  color: #fff;
}

#gallery .row {
  padding-top: 200px;
  text-align: left;
}

#gallery .foreword,
#gallery h1 {
  margin-left: 63px;
}

#gallery .foreword {
  font-family: 'Poppins', serif;
  font-size: 23px;
}

#gallery h1 {
  color: #FC8300;
  line-height: 1.8;
}

#gallery .gallery-container {
  margin-top: 73px;
}

#gallery .btn-prev-slider,
#gallery .btn-next-slider {
  top: 31%;
  transform: translate(0, 50%);
}

#gallery .btn-prev-slider {
  left: 94px;
  /* margin: 0; */
}

#gallery .btn-next-slider {
  right: 94px;
}

#gallery .img-holder {
  border: 11px solid #fff;
  border-radius: 29px;
  background: #fff;
  margin-top: 56px;
  box-shadow: 0px 137px 67px -73px rgba(0, 0, 0, 0.48);
}

#gallery .img-holder img {
  max-width: 671px;
  border-radius: 26px;
}

#gallery .bellow-gal {
  width: 100%;
  padding: 0 49px;
  justify-content: space-between;
  padding-top: 110px;
}

#gallery .bellow-gal .right {
  width: 100%;
  max-width: 1050px;
}

#gallery .fore-w {
  font-family: 'Akzidenz-Grotesk BQ Extra Conde', sans-serif;
  font-size: 55px;
  text-align: left;
  letter-spacing: 2px;
}

#gallery .title-like {
  font-family: 'Akzidenz-Grotesk BQ Extra Conde', sans-serif;
  font-size: 75px;
  letter-spacing: 2px;
  color: #FD8100;
  text-align: right;
}

#gallery .bellow-gal p {
  width: 100%;
  max-width: 770px;
  margin: 20px auto 61px;
}

/*testimonials*/
#testimonials {
  background: url('../images/common/')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
}

#testimonials p.auth {}

#testimonials .stars {
  color: #FFFF00;
}


/*CONTACT*/
#contact {
  position: relative;
  width: 100%;
  max-width: 750px;
  margin-right: -85px;
  margin-top: -62px;
}

#contact .box {
  background: #F58900;
  padding: 50px;
  border-radius: 35px;
}

#contact .contact-con {
  width: 100%;
  max-width: 585px;
  margin: auto;
}

#contact .contact-con .foreword {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

#contact .contact-con .contact-title {
  font-family: 'Aero', sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 1.5;
  color: #fff;
  margin: 12px 0 51px;
}


form .messages p {
  display: none;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

form .loading {
  display: none;
}

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.ctc-form {
  margin: 0 auto;
  text-align: center;
}

.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000;
  height: 69px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 5px 22px;
  box-sizing: border-box;
  margin: 0 auto 33px;
  resize: none;
  background: #fff;
}

.ctc-form .flex label {
  width: 100%;
  max-width: 282px;
}

.ctc-form ::placeholder,
.ctc-form label {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.8;
  letter-spacing: .03px;
  text-align: left;
}

.ctc-form ::placeholder {
  color: #C8C8C8
}

.ctc-form textarea {
  height: 205px;
  padding-top: 10px;
}

.ctc-form .ctcBtn {
  display: block;
  border: none;
  background: linear-gradient(to bottom, #ffffff, #BBBBBB);
  margin-top: 62px;
  color: #000;
  font-size: 20px;
  width: 285px;
  padding: 18px 0;
}

.ctc-form .ctcBtn:hover {
  background: #fff;
}

.ctc-form .recap {
  display: inline-block;
}

.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}

.ctc-form .ctc-hide {
  display: none;
}


/*-----------------------------------------------FOOTER-----------------------------------------------*/
#footer {
  background: url('../images/content/bg-fotter.png')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top: 115px;
}

#footer .footer-con {
  align-items: end;
}

#footer .left {
  width: 100%;
  max-width: 833px;
}

#footer .logo img {
  max-width: 646px;
  margin-bottom: 12px;
}

#footer .left .box {
  background-color: rgb(255 128 0/ 40%);
  color: #fff;
  margin-bottom: 13px;
  text-align: left;
  width: 100%;
  /* height: 100%; */
  min-height: 130px;
  display: flex;
  padding-left: 42px;
  align-items: center;
}

#footer .content {
  width: 100%;
}

#footer .left .box .flex {
  margin-top: 19px;
}

#footer .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  color: #F58900;
  font-weight: 700;
}

/* contact-info */
#footer .contact-info {
  justify-content: space-between;
  max-width: 735px;
}

#footer .contact-info .con {
  display: inline-flex;
  gap: 11px;
  align-items: flex-start;
}

#footer .contact-info img {
  max-width: 24px;
}

#footer .contact-info a {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: .5px;
}

.con-hvr-underline {
  padding: 5px 0;
  font-weight: 600;
  background: #fff;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.con-hvr-underline:before{
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
  
}

.con-hvr-underline:hover {
  background-position: 0;
 }
 
 .con-hvr-underline:hover::before{
   width: 100%;
 }

#footer .location .text-left {
  width: 100%;
  max-width: 268px;
}

/* follow-us */
#footer .follow-us {
  max-width: 695px;
  justify-content: space-between;
}

#footer .follow-us .ft-social {
  display: flex;
  gap: 10px;
  align-items: center;
}

#footer .follow-us .ft-social img {
  width: 100%;
  /* height: 100%; */
  min-height: 17px;
}

#footer .follow-us a {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* navigate */
#footer nav {
  width: 100%;
  max-width: 647px;
  /* margin-top: 5px; */
}

#footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer nav ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
}

/* #footer nav ul li a:hover,
#header nav ul li.active-menu {
  font-weight: 700;
} */

#footer nav ul li a {
  line-height: 5px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 12px;
}

#footer .copyrights {
  padding-top: 77px;
  padding-bottom: 20px;
  color: #B8B8B8;
}

#footer .copyrights .copy {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;

}

.techno img {
  width: 52px;
  margin: 0 5px -14px;
}








/*---------------------------------------inner pages-------------------------------------------*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
  max-width: 800px;
  margin: 0 auto
}

.inner #content h1 {
  padding-bottom: 20px;
}


/*inner gallery*/
.img-responsive {
  width: 346px;
  height: 346px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 13px;
}

#content .gallery-container {
  text-align: center;
}

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  display: flex;
}

#content .gallery li {
  display: inline-block;
}

#content .thumbnail {
  /* background-color: #fff; */
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: border 0.5s ease-in-out 0s;
}

#content .thumbnail:hover {
  transform: scale(1.02);
}

#content .page_navigation {
  display: inline-block;
}

#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

#content .page_navigation>a:hover,
.page_navigation>a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}

.inner #content .gallery-container {
  margin-bottom: 20px
}




/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}

.inPrivacyBox p {
  text-align: justify !important;
}



/*RESPONSIVE*/
@media screen and (max-width: 1440px) {}


/*1200*/
@media screen and (max-width: 1439px) {}

@media screen and (max-width: 1200px) {
  body {
    min-width: 320px
  }
}

/*1024*/
@media screen and (max-width: 1199px) {}

/*960*/
@media screen and (max-width: 1023px) {}

/*768*/
@media screen and (max-width: 959px) {

  #header .row {
    width: 100%;
    padding: 0;
  }

  #header nav {}

  #header nav ul {
    width: 100%;
    display: none;
    height: auto;
    border-bottom: 5px solid #000;
    padding: 0 15px;
  }

  #header nav ul li {
    width: 100%;
    position: relative;
  }

  #header nav ul li a {
    padding: 10px 0;
    text-align: left;
    width: 100%;
  }

  #header nav a strong {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  #header nav a#pull {
    display: block;
    color: #fff;
    background-color: #000;
    height: 60px;
    padding: 10px 0;
    width: 100%;
    position: relative;
  }

  #header nav a#pull:after {
    content: "";
    background: url('../images/nav-icon.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .cta {
    background: #035B96 url("../images/common/phonecall.png") no-repeat center center;
    border-bottom-left-radius: 40px;
    border-top: 2px solid #013f9a;
    border-top-left-radius: 40px;
    bottom: 10%;
    display: block;
    height: 60px;
    position: fixed;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    width: 60px;
    z-index: 999;
  }


}


/*425*/
@media screen and (max-width: 767px) {}


/*375*/
@media screen and (max-width: 424px) {}

/*320*/
@media screen and (max-width: 374px) {}